spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_db
    username: root
    password: Sa465542

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  server:
    error:
      include-message: always
      include-binding-errors: always
